body {
    padding: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2 {
    margin: 1rem 0;
}

p {
    line-height: 1.5;
    margin-bottom: .5rem;
}

ul {
    margin-left: 1rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

li {
    margin-left: 1rem;
}

code {
    background: gainsboro;
    padding: .25rem .5rem;
    border-radius: .25rem;
}

main {
    border: 1px solid gainsboro;
    padding: 1rem;
}