body {
    padding: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2 {
    margin: 1rem 0;
}

p {
    line-height: 1.5;
    margin-bottom: .5rem;
}

ul {
    margin-left: 1rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

li {
    padding: .25rem .5rem;
    transition: .3s;
}

li:hover {
    background: gainsboro;
}

code {
    background: gainsboro;
    padding: .25rem .5rem;
    border-radius: .25rem;
}

main {
    border: 1px solid gainsboro;
    padding: 1rem;
}

.motion-list a {
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 100%;
}

.motion-list a:hover {
    background: gainsboro;
}

/* Modal Animation */

.overlay {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.open-button {
    padding: 10px 20px;
    cursor: pointer;
}

.modal-card {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.close-button {
    margin-top: 20px;
    padding: 8px 16px;
    cursor: pointer;
}

/* nav (for Page Transitions example */

nav {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 1rem;
    border-bottom: 1px solid gainsboro;
}

nav a {
    color: #000;
    text-decoration: none;
}